@using BlazorApp.Configuration
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider Theme="ThemeConfiguration.ApplicationTheme()" IsDarkMode="false"/>
<MudPopoverProvider />
<MudDialogProvider     
    Position="DialogPosition.Center"
    CloseButton="true"
    BackdropClick="false"/>
<MudSnackbarProvider />

<MudLayout>
    <AppBar></AppBar>
    <NavBar></NavBar>
    
    <MudMainContent Style="padding-top:1.5rem !important">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-10">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void NavigateTo(string url, bool forceLoad = false) => NavigationManager.NavigateTo(url, forceLoad);
}